@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-manrope: "Manrope", sans-serif;
    --color-one: #4F39F6;
    --color-two: #9514FA;
    --color-three: #101727;
}

@layer components {
    .btn-one {
       @apply bg-linear-to-r from-one to-two text-white px-5 py-2 rounded-full text-[12px] hover:cursor-pointer
    }
    .btn-two {
       @apply bg-[#E1E7FF] px-5 py-2 rounded-full;
    }
    .text-gradient-one {
        @apply bg-linear-to-r from-one to-two bg-clip-text text-transparent;
    }
    .gradient-one {
        @apply bg-linear-to-r from-one to-two;
    }
    .text-small{
        @apply text-[12px];
    }
}